<br>
<h1 style="text-align: center; font-weight: bold;">Vous pouvez rechercher des parties par rapport à leur gamemode et leur map</h1>

<mat-form-field appearance="fill">
    <mat-label>Temps minimum:</mat-label>
    <input matInput type="number" [(ngModel)]="tempsMin">
</mat-form-field>
<mat-form-field appearance="fill">
    <mat-label>Temps maximum:</mat-label>
    <input matInput type="number" [(ngModel)]="tempsMax">
</mat-form-field>

<br>

<button mat-raised-button (click)="getGamesByElapsedTime(tempsMin,tempsMax)" color="primary">Rechercher</button>

<br>

<mat-accordion>
    <mat-expansion-panel *ngFor="let game of games">
        <mat-expansion-panel-header>
            <mat-panel-title>
                <h2>{{game.name}}</h2>
            </mat-panel-title>
            <mat-panel-description>
                <p style="font-weight: bold;">Map:</p>
                <p style="font-weight: 500;">{{game.chosen_map}}</p>
                <p>|</p>
                <p style="font-weight: bold;">Gamemode:</p>
                <p style="font-weight: 500;">{{game.chosen_game_mode}}</p>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Nombre de temps passés: {{game.elapsed_time}}</p>
        <p>Description de la partie: {{game.description}}</p>
        <p>Nombre de joueurs: {{game.players.length}}</p>
        <p>Nombre de round joués: {{game.number_of_round_played.length}}</p>
        <p>Nombre de temps passés par round: {{game.time_per_round_played}}</p>
        <p>Date de création: {{game.created_date}}</p>
        <p>Est le jour: {{game.is_day}}</p>
        <p>Temps passés dans la partie: {{game.elapsed_time}}</p>
        <p>Nombre de joueur étant dans cette partie: {{game.players.length}}</p>
        <p>Si la partie se rejoint: {{game.joinable}}</p>
        <p>Si la partie est en cours: {{game.started}}</p>
    </mat-expansion-panel>
</mat-accordion>