<br>
<h1 style="text-align: center; font-weight: bold;" i18n>Ici vous pouvez ajouter une partie</h1>
<br>
<form (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
        <mat-label i18n>Nom</mat-label>
        <input matInput required [(ngModel)]="game.name" name="name" type="text"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label i18n>Description</mat-label>
        <input matInput required [(ngModel)]="game.description" name="description" type="text"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label i18n>Nombre de rondes jouées</mat-label>
        <input matInput required [(ngModel)]="game.number_of_round_played" name="number_of_round_played" type="[number]"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label i18n>Temps par ronde jouée</mat-label>
        <input matInput required [(ngModel)]="game.time_per_round_played" name="time_per_round_played" type="[number]"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label i18n>Carte choisie</mat-label>
        <input matInput required [(ngModel)]="game.chosen_map" name="chosen_map" type="text"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label i18n>Mode de jeu choisi</mat-label>
        <input matInput required [(ngModel)]="game.chosen_game_mode" name="chosen_game_mode" type="text"/>
    </mat-form-field>
    <mat-checkbox name="is_day" [(ngModel)]="game.is_day" >Est-ce le jour?</mat-checkbox>
    <mat-form-field appearance="outline">
        <mat-label i18n>Temps écoulé</mat-label>
        <input matInput required [(ngModel)]="game.elapsed_time" name="elapsed_time" type="number"/>
    </mat-form-field>
    <mat-checkbox name="joinable" [(ngModel)]="game.joinable" i18n>Peut-on rejoindre la partie?</mat-checkbox>
    <mat-checkbox name="started" [(ngModel)]="game.started" i18n>La partie est-elle commencée?</mat-checkbox>
    <button mat-raised-button color="primary" type="submit" i18n>Ajouter</button>
</form>