<br>
<h1 style="text-align: center; font-weight: bold;" i18n>Ici vous pouvez Modifier une partie</h1>
<br>

<mat-form-field appearance="outline">
    <mat-label i18n>Id de la partie</mat-label>
    <mat-select [(value)]="idGame" (valueChange)="getGame()">
        <mat-option *ngFor="let game of games" [value]="game._id">
            {{game._id}}
        </mat-option>
    </mat-select>
</mat-form-field>

        <form (ngSubmit)="onSubmit()">
            <mat-form-field appearance="outline">
                <mat-label i18n>Nom</mat-label>
                <input matInput required [(ngModel)]="updatedgame.name" name="name" type="text"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label i18n>Description</mat-label>
                <input matInput required [(ngModel)]="updatedgame.description" name="description" type="text"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label i18n>Nombre de rondes jouées</mat-label>
                <input matInput required [(ngModel)]="updatedgame.number_of_round_played" name="number_of_round_played"
                    type="[number]"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label i18n>Temps moyen par ronde jouée</mat-label>
                <input matInput required [(ngModel)]="updatedgame.time_per_round_played" name="time_per_round_played"
                    type="[number]"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label i18n>Carte choisie</mat-label>
                <input matInput required [(ngModel)]="updatedgame.chosen_map" name="chosen_map" type="text"/>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label i18n>Mode de jeu choisi</mat-label>
                <input matInput required [(ngModel)]="updatedgame.chosen_game_mode" name="chosen_updatedgame_mode" type="text"/>
            </mat-form-field>
            <mat-checkbox name="is_day" [(ngModel)]="updatedgame.is_day">Est-ce le jour?</mat-checkbox>
            <mat-form-field appearance="outline">
                <mat-label i18n>Temps écoulé</mat-label>
                <input matInput required [(ngModel)]="updatedgame.elapsed_time" name="elapsed_time" type="number"/>
            </mat-form-field>
            <mat-checkbox name="joinable" [(ngModel)]="updatedgame.joinable" i18n>Peut-on rejoindre la partie?</mat-checkbox>
            <mat-checkbox name="started" [(ngModel)]="updatedgame.started" i18n>La partie est-elle commencée?</mat-checkbox>
            <button mat-raised-button color="primary" type="submit" i18n>Modifier</button>
        </form>